<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Local SF cluster URL -->
    <!--  -->
    <add key="AzureVehiclesServiceUrlPrefix" value="http://localhost:8740/" />
    
    <!-- Azure cloud URL -->
    <!-- 
    <add key="AzureVehiclesServiceUrlPrefix" value="http://myworldcluster.westus.cloudapp.azure.com:8740/" />
    -->                                         

  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>